
.home {
    text-align: center;
    height: 40vmin;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.home > div > p > a {
    color: #61dafb;
}

.home > div:nth-of-type(1) > p {
    margin-bottom: 0;
}

.home > div > p.aleady-a-user {
    font-size: 0.6em;
}

.modal-header {
    border-bottom: 0;
}

.modal-footer {
    border-top: 0;
}

.checklist h2 {
    color: #fff;
}

.row {
    margin: 30px 0;
}

.list-group-item {
    line-height: 3;
}

.hide-error {
    display: none;
}

.show-error {
    display: block;
    font-size: 12px;
    color: #dc3545;
}
